
# Byproducts of building

.debhelper
debhelper-build-stamp
nydus-server
nydus-cli
nydus-client
nydus-common
nydus-test
files
*.substvars
nydus-client.postinst.debhelper
nydus-client.postrm.debhelper
